apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/part-of: openshift-builds
    app.kubernetes.io/version: 1.5.0
  name: openshift-builds-operator-metrics
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: https
  selector:
    app: openshift-builds-operator
    control-plane: controller-manager
status:
  loadBalancer: {}
