apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/part-of: openshift-builds
    app.kubernetes.io/version: v1.4.0
  name: openshift-builds-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
