apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configurations:
- kustomizeconfig.yaml


namespace: openshift-marketplace
namePrefix: openshift-builds-

resources:
- catalogsource.yaml

images:
- name: catalog
  newName: registry.redhat.io/openshift-builds/openshift-builds-operator-catalog
  newTag: v1.6.3
