apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    config.openshift.io/inject-trusted-cabundle: "true"
  name: shared-resource-csi-driver-operator-trusted-ca-bundle
  namespace: openshift-cluster-csi-drivers
